*{
	padding: 0;
	margin: 0;
}
body{
	background-color: DodgerBlue;
}
.contenedor1{
	background: #0079bf;
	height: 60px;
	width: 1300px;
	overflow: auto;
}

.iconos i{
	margin-left: 10px;
}
.iconos i,p{
	float: left;
	color: white;
	margin-top: 10px;
	background: SkyBlue;
	padding: 10px;
}

.buscador {
	color: white;
	margin-top: 10px;
	margin-left: 50px;
	background: SkyBlue;
	width: 200px;
	padding: 10px;
	float: left;
}
.buscador i{
	margin-left: 180px;
}

.imagen-titulo .fa{
	color: #bcd9ea;
	font-size: 20px;
	margin-left: 270px;
	margin-top: 20px;
	float: left;
}
.contenedor1 h1{
	font-family: 'Lobster', cursive;
	margin-top: 10px;
	margin-left: 10px;
	color: #bcd9ea;
	font-size: 35px;
	float: left;
}
.iconos2{
	float: left;
	color: white;
	margin-left: 350px;
	font-size: 20px;
	margin-top: 10px;
}
.iconos2 i{
	margin-left: 10px;
	background: SkyBlue;
	padding: 7px;
}
.contenedor2{
	overflow: auto;
}

.contenedor2 h3,i,p{
	color: white;
	background: none;
}
.contenedor2 h3{
	margin-top: 20px;
	margin-left: 10px;
	float: left;
}
.contenedor2 i{
	float: left;
	margin-left: 40px;
	margin-top: 23px;
	font-size: 20px;
}
.contenedor2 p{
	font-size: 18px;
	margin-left: 50px;
}
.menu{
	float: left;
	margin-top: 20px;
}
.menu i{
	float: left;
	margin-left: 650px;
	font-size: 10px;
}
.menu a{
	float: left;
	color: white;
}
button{
  background: RoyalBLue;
  padding: 6px 70px;
  border: 0;
  color: inherit;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: white;
}
.clase_contenedor{
	position: relative;
	background: #E2E4E6;
	border-radius: 5px;
	width: 260px;
	height: 120px;
	margin-top: 30px;
	margin-left: 50px;
}
.input_principal{
	position: absolute;
	border-radius: 5px;
    border: none;
    padding: 0.3em;
	margin-left: 20px;
	bottom: 70px;
	right: 25px;
    width: 200px;
}
.clase_boton_guardar{
	position: absolute;
	bottom: 20px;
	color: white;
	padding: 0.5em 3em;
	left: 7px;
	background-color: #5BAE45;
    border: none;
    border-radius: 5px;
}
.clase_div_contenedor{
	position: relative;
	margin-left:350px;
	bottom: 120px;
	background: #E2E4E6;
	border-radius: 5px;
	width: 260px;
	height: 80px;
}

.clase_a{
	position: absolute;
	top: 50px;
}
.clase_divTarjeta{
	position: relative;
	margin-left:630px;
	bottom: 200px;
	background: #E2E4E6;
	border-radius: 5px;
	width: 260px;
	height: 180px;
}

.clase_textarea{
	position: absolute;
	left: 10px;
	bottom: 60px;
	width: 230px;
	height: 100px;
}
.clase_btn_añadir{
	position: absolute;
	top: 115px;
	color: white;
	padding: 0.5em 3em;
	left: 3px;
	background-color: #5BAE45;
    border: none;
    border-radius: 5px;
}